.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 80px;
  margin: 0 100px;
}

ul {
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: center;
  justify-items: center;
}

li {
  margin-right: 30px;
}

/* List items */
/* .nav-1 {
  grid-column: 2 / 3;
}

.nav-2 {
  grid-column: 3 / 4;
}
.nav-3 {
  grid-column: 4 / 5;
}
.nav-4 {
  grid-column: 12 / 13;
}
.nav-5 {
  grid-column: 22 / 23;
}
.nav-6 {
  grid-column: 23 / 24;
} */

.active {
  color: #5ece7b;
  text-decoration: none;
  border-bottom: 1px solid #5ece7b;
  padding-bottom: 20px;
}

.inactive {
  color: black;
  text-decoration: none;
}
